.citythai {
    font-family: 'Kanit', sans-serif;
    text-align: right;
  }

  .citythai2 {
    font-family: 'Kanit', sans-serif;
  }

  .footer1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ABB2B9;
    color: black;
    text-align: center;
  }